/* line 3, hackaton.scss */
body {
  background: #78C0A8;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 10, hackaton.scss */
#wrapper {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 600px) {
  /* line 19, hackaton.scss */
  #wrapper {
    width: 100% !important;
  }
}
/* line 24, hackaton.scss */
.box {
  color: #666;
  width: 400px;
  padding: 30px;
  background: white;
  margin: 0 auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #78C0A8;
}

/* line 34, hackaton.scss */
#main input {
  width: 400px;
  margin: 0;
  padding: 5px;
  border: 1px solid #666;
}
/* line 39, hackaton.scss */
#main input:focus {
  border-color: #999;
}

/* line 44, hackaton.scss */
h1 {
  text-align: center;
}

/* line 48, hackaton.scss */
button {
  padding: 5px 10px;
  margin: 10px auto;
  display: block;
  width: 130px;
}

/* line 55, hackaton.scss */
.loader {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin: 30px auto;
  background: url("ajax-loader.gif");
}

/* line 66, hackaton.scss */
.cover {
  width: 200px;
  height: 200px;
  margin-right: 40px;
  float: right;
  -moz-box-shadow: #cccccc 3px 3px 3px;
  -webkit-box-shadow: #cccccc 3px 3px 3px;
  -o-box-shadow: #cccccc 3px 3px 3px;
  box-shadow: #cccccc 3px 3px 3px;
}

/* line 74, hackaton.scss */
.songinfo {
  padding-top: 50px;
  width: 150px;
  float: left;
}
/* line 78, hackaton.scss */
.songinfo h3, .songinfo h4 {
  text-align: right;
  margin: 0;
  color: #000;
}
/* line 83, hackaton.scss */
.songinfo h3 {
  font-size: 23px;
}
/* line 86, hackaton.scss */
.songinfo h4 {
  font-size: 17px;
}
/* line 88, hackaton.scss */
.songinfo h4 > span {
  font-size: 15px;
  color: #999;
}

/* line 95, hackaton.scss */
.clearfix {
  height: 0px;
  clear: both;
}
